@model Trabalho_Final_MOD_17E.Models.Carregador

@{
    ViewBag.Title = "Detalhes";
}

<h2>Details</h2>

<div>
    <h4>Carregador</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Localidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Localidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Empresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Preco_por_kWh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Preco_por_kWh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Latitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Longitude)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.CarregadorID }) |
    @Html.ActionLink("Voltar", "Index")
</p>
